pre {
  padding: 1em 2em;
  white-space: pre-wrap;
  font-size: em(14px);
  color: map-get($colors-brand, grayLight);
  background-color: darken(map-get($colors-brand, grayBlue), 2.5%);
  border-radius: 4px;
}

code {

}
