.code-example {
  border: 1px solid map-get($colorsBrand, blackAlt);
  margin-bottom: 2em;

  &__title {
    text-transform: uppercase;
    padding: 1em;
    margin: 0;
    background-color: map-get($colorsBrand, blackAlt);
  }

  pre {
    border: none;
    margin: 0;
    padding: 1em 2em;
    white-space: pre-wrap;
    font-size: em(14px);
    color: map-get($colorsBrand, grayLight);
    background-color: darken(map-get($colorsBrand, blackAlt), 2.5%);
  }
}
