#header {
  display: flex;
  flex-flow: column;
  padding: 2rem;
  grid-area: 1 / 1 / 3 / 2;
  background-color: $black-alt;

  #logo {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;

    a {
      img {
        max-width: 120px;
      }
    }

    @include bp-max($md) {
      flex: 1;
      margin-bottom: 0;
    }
  }

  #menu-icon {
    display: none;
    color: $white;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;

    .material-icons {
      font-size: em(28px);
    }

    &:hover {
      color: lighten($gray, 50%);
    }

    @include bp-max($md) {
      display: flex;
      flex: 1;
    }
  }

  @include bp-max($md) {
    flex-flow: row;
    grid-area: 1 / 1 / 2 / 3;
    padding: 0 2em;
  }
}
