#lcars {
  display: flex;
  flex-flow: column;
  min-height: 100%;

  .bar {
    margin: 2rem;
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
    overflow: hidden;

    span {
      display: flex;
      height: 100%;
      align-items: center;

    }

    &__info {
      display: flex;
      align-items: center;
      height: 100%;
      margin-right: auto;
      padding: 0 0.25em;
      padding-top: 3px;
      font-size: 55px;
    }

    &__mid {
      margin-right: auto;
    }

    &__end {
      &:first-child {
        padding: 0 2em 0 0;
      }

      &:last-child {
        padding: 0 0 0 2em;
      }
    }

    &__blank {
      display: flex;
      align-items: center;
      padding: 0 0.5em;
      height: 100%;
      background-color: $black;
    }
  }

  .body {
    flex: 1 1 auto;
    padding: 0 5em;

    h1 {
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: normal;
      font-size: 60px;
    }

    .row {
      display: flex;
      flex-flow: row wrap;
      font-size: 2em;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: darken(map-get($colors-lcars, blue), 20%);

      span:first-child {
        padding-right: 0.5em;
      }
    }
  }
}
