#menu {
  display: flex;

  ul {
    display: flex;
    flex-flow: column;
    list-style: none;
    padding: 0;
    margin: 1em 0;

    a {
      display: flex;
      align-items: center;
      padding: 0.75em 0;
      font-family: $font-roboto-condensed;
      font-weight: 500;
      font-size: em(14px);
      text-transform: uppercase;

      &.active {
        color: map-get($colors-brand, red);
      }

      &:hover {
        color: lighten(map-get($colors-brand, gray), 50%);
      }
    }
  }

  #close {
    display: none;
    position: absolute;
    top: 1em;
    right: 1em;
    color: $color-white;
    cursor: pointer;

    .material-icons {
      font-size: em(28px);
    }

    &:hover {
      color: lighten(map-get($colors-brand, gray), 50%);
    }

    @media screen and (max-width: $md) {
      display: inline-block;
    }
  }

  &.on {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    padding: 0;

    ul {
      height: calc(100% - 1em);
      overflow: scroll;
      margin: 1em 0 0 0;
      padding: 2em;
    }
  }

  @media screen and (max-width: $md) {
    display: none;

    #close {
      display: inline-block;
    }
  }
}
