#menu {
  color: $color-white;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      flex-direction: column;
    }
  }

  a {
    display: flex;
    align-items: center;
    padding: 1.25em;
    font-family: $font-roboto-condensed;
    font-weight: 500;
    font-size: em(15px);
    text-transform: uppercase;
    transition: 200ms all ease-in-out;
    // border-bottom: 1px solid map-get($colors-brand, black);

    &.active {
      background-color: map-get($colors-brand, red);

      &:hover {
        background-color: map-get($colors-brand, red);
      }
    }

    &:hover {
      color: $color-white;
      background-color: darken(map-get($colors-brand, black), 5%);
    }
  }
}
