#menu {
  color: $color-white;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      flex-direction: column;
    }
  }

  a {
    display: flex;
    align-items: center;
    padding: 1em 1.25em;
    font-family: $font-roboto-condensed;
    font-weight: 500;
    font-size: em(14px);
    text-transform: uppercase;

    &.active {
      border-left: 3px solid map-get($colors-brand, red);
    }

    &:hover {
      color: $color-white;
      border-left: 3px solid map-get($colors-brand, red);
    }
  }
}
