#page {
  flex: 1;

  .row {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    padding: 2em 4em;

    @media screen and (max-width: $lg) {
      flex-direction: column;
    }

    &:last-child {
      .col {
        border-bottom: 0;
      }
    }

    @media screen and (max-width: $lg) {
      padding: 2em;
    }
  }

  .col {
    border-bottom: 2px solid map-get($colors-brand, blackAlt);
    flex: 1;

    @media screen and (max-width: $lg) {
      padding: 1em 0;

      &:first-child {
        padding-bottom: 0;
      }
    }
  }

  .col-2 {
    width: 50%;

    &:nth-of-type(1) {
      padding-right: 1em;
    }

    &:nth-of-type(2) {
      padding-left: 1em;
    }

    @media screen and (max-width: $lg) {
      flex-basis: auto;
      width: auto;

      &:nth-of-type(1) {
        padding: 0;
        border-bottom: none;
      }

      &:nth-of-type(2) {
        padding: 0;
      }
    }
  }

  &__heading {
    h1 {
      width: 100%;
      margin: 1em 0 0 0;
      padding-bottom: 1em;
      border-bottom: 3px solid #ba1214;
    }

    @media screen and (max-width: $md) {
      h1 {
        margin-top: 0;
      }
    }
  }

  @media screen and (max-width: $lg) {
    .examples {
      margin-bottom: 1rem;
    }
  }
}
