#page {
  background-color: darken(map-get($colors-brand, grayBlue), 2.5%);
  flex: 1;

  .row {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    padding: 0 2em;

    @media screen and (max-width: $lg) {
      flex-direction: column;
    }

    &:last-child {
      .col {
        border-bottom: 0;
      }
    }
  }

  .col {
    padding: 2em 0;
    border-bottom: 2px solid map-get($colors-brand, grayBlue);

    @media screen and (max-width: $lg) {
      padding: 1em 0;

      &:first-child {
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }

  .col-2 {
    flex-basis: 50%;

    @media screen and (max-width: $lg) {
      flex-basis: auto;
    }
  }

  @media screen and (max-width: $lg) {
    .examples {
      margin-bottom: 1rem;
    }
  }
}
