#page {
  flex: 1;
  max-width: $xxl;

  .row {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    padding: 2em 4em;

    &:last-child {
      .col {
        border-bottom: 0;
      }
    }

    @include bp-max($xl) {
      padding: 2em;
    }

    @include bp-max($lg) {
      flex-direction: column;
    }

    @include bp-max($md) {
      padding: 1em 2em;
    }
  }

  .col {
    border-bottom: 2px solid map-get($colors-brand, black-alt);
    flex: 1;
  }

  .page-heading {
    h1 {
      width: 100%;
      margin: 1em 0 0 0;
      padding-bottom: 1em;
      border-bottom: 3px solid #ba1214;
    }

    @include bp-max($md) {
      h1 {
        margin-top: 0;
      }
    }
  }

  .page-grid {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 1em));
    grid-auto-rows: 1fr;
    grid-gap: 4em 2em;

    &__item {
      display: flex;

      .code-example:only-child {
        margin-bottom: 0;
      }
    }

    @include bp-max($lg) {
      grid-gap: 2em;
      grid-template-columns: 100%;
    }
  }
}
