html
  head
    title Shudder Styleguide - #{currentPage.name}
    block styles
      link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700")
      link(rel="stylesheet", href="/styles/app.css")
  body
    div#site-container        
      div#main-container
        block sidebar
          div#sidebar
            a(id="logo", href="/")
              img(src="/images/shudder.png")
            include menu
        div#page-container
          div#page
            block page
          
    block scripts
      //- <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
      script(src="/scripts/app.js")
