html
  head
    title Star Trek Card Game Online
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block styles
      link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
      link(rel="stylesheet", href="/styles/app.css")
  body
    div#site-container   
      div#main-container
        block header
          div#header
        div#page-container
          div(id="page")
            block page
          
    block scripts
      script(src="/scripts/app.js")
