html
  head
    title Shudder Styleguide - #{currentPage.name}
    block styles
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,500,700")
      link(rel="stylesheet", href="/styles/app.css")
  body
    div#site-container
      include menu
      div#page-container
        block page
          
    block scripts
      script(src="/scripts/app.js")
