nav(id="menu", class="js-menu")
  div(id="close", class="js-menuClose")
    span(class="material-icons") close
  ul
    each page in pages
      li(class=`menu-link-${page.slug}`)
        a(class={ active: isActive(page) }, href=page.path)= page.name
      
