include ./button
include ./play-circle

mixin movie-card({ type, video })
  -
     image = type === "portrait"
      ? "poster"
      : "thumbnail";
      
  movie-card(class=`movie-card movie-card--${type} js-movie-card`)
    img(src=video.images[image])
    
    movie-card(class="movie-card__overlay")
      h4(class="headline sm up")= video.title
      
      +play-circle
      
      if type === "portrait"
        p(class="movie-card__desc")= video.desc
        
      +button({
        type: "secondary",
        text: "My List",
        icon: "add",
        size: "sm"
      })
