include ./button
include ./play-circle

mixin poster-card({ type, video })
  -
     image = type === "portrait"
      ? "poster"
      : "thumbnail";
      
  poster-card(class=`poster-card poster-card--${type} js-poster-card`)
    img(src=video.images[image])
    
    poster-card(class="poster-card__overlay")
      h4(class="headline sm up")= video.title
      
      +play-circle
      
      p(class="poster-card__desc")= video.desc
        
      +button({
        type: "secondary",
        text: "My List",
        icon: "add",
        size: "sm"
      })
