extends shared/page
include mixins/code-example
include mixins/button

block content
  div(class="row row--heading")
    div(class="col")
      h4(class="heading sm up") Primary
      
  div(class="page-grid row")
    div(class="page-grid__item flex-col")
      div(class="mb1")
        +button({
          type: "primary",
          text: "Log in"
        })
      
      div(class="mb1")
        +button({
          type: "primary",
          text: "Submit"
        })
      
      div(class="mb1")
        +button({
          type: "primary",
          text: "Play",
          icon: "play_arrow"
        })
          
      div(class="mb1")
        button(class="btn btn--primary loading")
          span(class="material-icons btn__icon") play_arrow
          span Play
          
      div(class="mb1")
        button(class="btn btn--primary", disabled)
          span(class="material-icons btn__icon") play_arrow
          span Play
          
      div
        +button({
          type: "primary",
          text: "Resume S1:E1",
          icon: "play_arrow"
        })
      
    div(class="page-grid__item flex-col")
      +code-example("html")
        pre(class="language-html")
          code(class="language-html").
            &lt;button class="btn btn--primary"&gt;Submit&lt;/button&gt;
            &lt;button class="btn btn--primary"&gt;Login&lt;/button&gt;
            
            &lt;button class="btn btn--primary"&gt;
              &lt;span class="material-icons"&gt;play&lt;/span&gt;
              &lt;span&gt;Play&lt;/span&gt;
            &lt;/button&gt;
            
            &lt;!-- Buttons with the loading class will 
            hide their contents and show a spinner. --&gt;
            
            &lt;button class="btn btn--primary loading"&gt;
              &lt;span class="material-icons"&gt;play&lt;/span&gt;
              &lt;span&gt;Play&lt;/span&gt;
            &lt;/button&gt;
            
            &lt;button class="btn btn--primary" disabled&gt;
              &lt;span class="material-icons"&gt;play&lt;/span&gt;
              &lt;span&gt;Play&lt;/span&gt;
            &lt;/button&gt;
            
            &lt;button class="btn btn--primary"&gt;
              &lt;span class="material-icons"&gt;play&lt;/span&gt;
              &lt;span&gt;Resume S1:E1&lt;/span&gt;
            &lt;/button&gt;
          
      +code-example("pug")
        pre(class="language-pug")
          code(class="language-pug").
            // Button mixin takes text, type, and icon...
            
            +button({
              type: "primary",
              text: "Submit"
            })
            
            +button({
              type: "primary",
              text: "Submit"
            })
            
            +button({
              type: "primary",
              text: "Play",
              icon: "play_arrow"
            })
            
            +button({
              type: "primary",
              text: "Resume S1:E1",
              icon: "play_arrow"
            })
      
  div(class="row row--heading")
    div(class="col")
      h4(class="heading sm up") Secondary

  div(class="page-grid row")
    div(class="page-grid__item flex-col")
      div(class="mb1")
        +button({
          type: "secondary",
          text: "Secondary"
        })
          
      div(class="mb1")
        +button({
          type: "secondary",
          text: "My List",
          icon: "add"
        })
          
      div(class="mb1")
        button(class="btn btn--secondary loading")
          span(class="material-icons btn__icon") add
          span My List
          
      div
        button(class="btn btn--secondary", disabled)
          span(class="material-icons btn__icon") add
          span My List
          
    div(class="page-grid__item flex-col")
      +code-example("html")
        pre(class="language-html")
          code(class="language-html").
            &lt;button class="btn btn--secondary"&gt;Secondary&lt;/button&gt;
            
            &lt;button class="btn btn--secondary"&gt;
              &lt;span class="material-icons"&gt;add&lt;/span&gt;
              &lt;span&gt;My List&lt;/span&gt;
            &lt;/button&gt;
            
            &lt;!-- Buttons with the loading class will 
            hide their contents and show a spinner. --&gt;
            
            &lt;button class="btn btn--secondary loading"&gt;
              &lt;span class="material-icons"&gt;add&lt;/span&gt;
              &lt;span&gt;My List&lt;/span&gt;
            &lt;/button&gt;
            
            &lt;button class="btn btn--secondary" disabled&gt;
              &lt;span class="material-icons"&gt;add&lt;/span&gt;
              &lt;span&gt;My List&lt;/span&gt;
            &lt;/button&gt;
            
          
      +code-example("pug")
        pre(class="language-pug")
          code(class="language-pug").
            // Button mixin takes text, type, and icon...
            
            +button({
              type: "secondary",
              text: "Secondary"
            })
            
            +button({
              type: "secondary",
              text: "My List",
              icon: "add"
            })
