extends shared/page

block content
  div(class="row")
    div(class="col")
      h4(id="usage", class="heading sm up") Usage
      
  div(class="row")
    div(class="col")
      h4(class="heading sm up") Primary
      
  div(class="page-grid row")
    div(class="page-grid__item flex-col")
      div(class="mb1")
        button(class="btn btn--primary") Submit
      
      div(class="mb1")
        button(class="btn btn--primary") Login
      
      div(class="mb1")
        button(class="btn btn--primary")
          span(class="material-icons btn__icon") play_arrow
          span Play
          
      div(class="mb1")
        button(class="btn btn--primary loading")
          span(class="material-icons btn__icon") play_arrow
          span Play
          
      div(class="mb1")
        button(class="btn btn--primary", disabled)
          span(class="material-icons btn__icon") play_arrow
          span Play
          
      div
        button(class="btn btn--primary")
          span(class="material-icons btn__icon") play_arrow
          span Resume S1:E1
      
    div(class="page-grid__item flex-col")

      
  div(class="row")
    div(class="col")
      h4(class="heading sm up") Secondary

  div(class="page-grid row")
    div(class="page-grid__item flex-col")
      div(class="mb1")
        button(class="btn btn--secondary")
          span Secondary
          
      div(class="mb1")
        button(class="btn btn--secondary")
          span(class="material-icons btn__icon") add
          span My List
          
      div(class="mb1")
        button(class="btn btn--secondary loading")
          span(class="material-icons btn__icon") add
          span My List
          
      div
        button(class="btn btn--secondary", disabled)
          span(class="material-icons btn__icon") add
          span My List
