extends shared/page

block content
  div(class="row")
    div(class="col")
      h4(id="usage", class="heading sm up") Usage
      
  div(class="row")
    div(class="col")
      h4(class="heading sm up") Primary
      
  div(class="row")
    div(class="col")
      h4(class="heading sm up") Secondary
