extends shared/page
include mixins/code-example
include mixins/button

block content
  div(class="row")
    div(class="col")
      h4(id="usage", class="heading sm up") Usage
      
  div(class="row")
    div(class="col")
      h4(class="heading sm up") Primary
      
  div(class="page-grid row")
    div(class="page-grid__item flex-col")
      div(class="mb1")
        +button("Submit", "primary")
      
      div(class="mb1")
        +button("Login", "primary")
      
      div(class="mb1")
        +button("Play", "primary", "play_arrow")
          
      div(class="mb1")
        button(class="btn btn--primary loading")
          span(class="material-icons btn__icon") play_arrow
          span Play
          
      div(class="mb1")
        button(class="btn btn--primary", disabled)
          span(class="material-icons btn__icon") play_arrow
          span Play
          
      div
        +button("Resume S1:E1", "primary", "play_arrow")
      
    div(class="page-grid__item flex-col")
      +code-example("html")
        pre(class="language-html")
          code(class="language-html").
            &lt;button class="btn btn--primary"&gt;Submit&lt;/button&gt;
            &lt;button class="btn btn--primary"&gt;Login&lt;/button&gt;
            
            &lt;button class="btn btn--primary"&gt;
              &lt;span class="material-icons"&gt;play&lt;/span&gt;
              &lt;span&gt;Play&lt;/span&gt;
            &lt;/button&gt;
            
            &lt;!-- Buttons with the loading class will 
            hide their contents and show a spinner. --&gt;
            &lt;button class="btn btn--primary loading"&gt;
              &lt;span class="material-icons"&gt;play&lt;/span&gt;
              &lt;span&gt;Play&lt;/span&gt;
            &lt;/button&gt;
            
            &lt;button class="btn btn--primary" disabled&gt;
              &lt;span class="material-icons"&gt;play&lt;/span&gt;
              &lt;span&gt;Play&lt;/span&gt;
            &lt;/button&gt;
            
            &lt;button class="btn btn--primary"&gt;
              &lt;span class="material-icons"&gt;play&lt;/span&gt;
              &lt;span&gt;Resume S1:E1&lt;/span&gt;
            &lt;/button&gt;
          
      +code-example("mixin")
        pre(class="language-pug")
          code(class="language-pug").
            // Button mixin takes text, type, and icon...
            
            +button("Submit", "primary")
            +button("Login", "primary")
            +button("Login", "primary", "play_arrow")
            +button("Resume S1:E1", "primary", "play_arrow")
      
  div(class="row")
    div(class="col")
      h4(class="heading sm up") Secondary

  div(class="page-grid row")
    div(class="page-grid__item flex-col")
      div(class="mb1")
        button(class="btn btn--secondary")
          span Secondary
          
      div(class="mb1")
        button(class="btn btn--secondary")
          span(class="material-icons btn__icon") add
          span My List
          
      div(class="mb1")
        button(class="btn btn--secondary loading")
          span(class="material-icons btn__icon") add
          span My List
          
      div
        button(class="btn btn--secondary", disabled)
          span(class="material-icons btn__icon") add
          span My List
