extends shared/page
include mixins/code-example
include mixins/movie-card

block content
  div(class="row row--heading")
    div(class="col")
      h4(id="portrait-card", class="heading sm up") Portrait Card
  
  div(class="page-grid row")
    div(class="page-grid__item")
      each video in data.videos
        +movie-card({
          type: "portrait",
          video: video
        })
        
    div(class="page-grid__item flex-col")
      +code-example("pug")
        pre(class="language-pug")
          code(class="language-pug").
            // Movie cards take a type and a video object.
            
            +movie-card({
              type: "portrait",
              video: video
            })
            
  div(class="row row--heading")
    div(class="col")
      h4(id="landscape-card", class="heading sm up") Landscape Card
      
  div(class="page-grid row")
    div(class="page-grid__item")
      each video in data.videos
        +movie-card({
          type: "landscape",
          video: video
        })
        
    div(class="page-grid__item flex-col")
      +code-example("pug")
        pre(class="language-pug")
          code(class="language-pug").
            // Movie cards take a type and a video object.
            
            +movie-card({
              type: "landscape",
              video: video
            })
