extends shared/page

block content
  div(class="row row--heading")
    div(class="col")
      h4(id="poster-card", class="heading sm up") Poster Card
      
  div(class="row row--heading")
    div(class="col")
      h4(id="thumbnail-card", class="heading sm up") Thumbnail Card
