extends shared/page
include mixins/code-example

block content
  div(class="row")
    div(class="col")
      h4(id="usage") Usage
      p.
        Color values should be obtained from the 
        #[span(class="inline-code") $colorsBrand] SCSS map or from the
        associated helper variables. This ensures that we only use valid 
        colors and that we don't end up with repetetive definitions or 
        worse—the wrong colors.
      
  div(class="page-grid row")
    div(class="page-grid__item")
      div(class="color-box bg--red") Shudder Red
      div(class="color-box bg--red--l1")
      div(class="color-box bg--red--l2")
      div(class="color-box bg--red--l3")
        
    div(class="page-grid__item")
      +example("scss")
        pre(class="language-scss")
          code(class="language-scss").
            .bg--red {
              background-color: $red;
            }
            
            .color--red {
              color: $red;
            }
      
    div(class="page-grid__item")
      div(class="color-box bg--gray") Light Steel Gray
      div(class="color-box bg--gray--l1")
      div(class="color-box bg--gray--l2")
      div(class="color-box bg--gray--l3")
        
    div(class="page-grid__item")
      +example("scss")
        pre(class="language-scss")
          code(class="language-scss").
            .bg--gray {
              background-color: $gray;
            }
            
            .color--gray {
              color: $gray;
            }
            
    div(class="page-grid__item")
      div(class="color-box bg--grayLight") Steel Gray
      div(class="color-box bg--grayLight--l1")
      div(class="color-box bg--grayLight--l2")
      div(class="color-box bg--grayLight--l3")
        
    div(class="page-grid__item")
      +example("scss")
        pre(class="language-scss")
          code(class="language-scss").
            .bg--grayLight {
              background-color: $grayLight;
            }
            
            .color--grayLight {
              color: $grayLight;
            }
            
    div(class="page-grid__item")
      div(class="color-box bg--blackAlt") Rich Black
      div(class="color-box bg--blackAlt--l1")
      div(class="color-box bg--blackAlt--l2")
      div(class="color-box bg--blackAlt--l3")
        
    div(class="page-grid__item")
      +example("scss")
        pre(class="language-scss")
          code(class="language-scss").
            .bg--blackAlt {
              background-color: $blackAlt;
            }
            
            .color--blackAlt {
              color: $blackAlt;
            }
            
    div(class="page-grid__item")
      div(class="color-box bg--black") Black
      div(class="color-box bg--black")
      div(class="color-box bg--black")
      div(class="color-box bg--black")
        
    div(class="page-grid__item")
      +example("scss")
        pre(class="language-scss")
          code(class="language-scss").
            .bg--black {
              background-color: $black;
            }
            
            .color--black {
              color: $black;
            }

  div(class="row")
    div(class="col")
      h4(id="states") States, rollovers, and color grades
      p.
        Rollover states should be achieved by using SCSS's built in 
        #[span(class="inline-code") darken()] and #[span(class="inline-code") lighten()] functions.
