extends shared/page
include mixins/code-example

block content
  div(class="row row--heading")
    div(class="col")
      h4(id="usage", class="heading sm up") Usage
      p.
        Color values should be obtained from the 
        #[span(class="inline-code") $colors-brand] SCSS map or from the
        associated helper variables. This ensures that we only use valid 
        colors and that we don't end up with repetetive definitions or 
        worse—the wrong colors.
        
  div(class="row row--heading")
    div(class="col")
      h4(class="heading sm up") Shudder Red
      
  div(class="page-grid row")
    div(class="page-grid__item")
      div(class="color-box bg--red")
      div(class="color-box bg--red--l1")
      div(class="color-box bg--red--l2")
      div(class="color-box bg--red--l3")
        
    div(class="page-grid__item flex-col")
      +code-example("scss")
        pre(class="language-scss")
          code(class="language-scss").
            .bg--red {
              background-color: $red;
            }
            
            .color--red {
              color: $red;
            }
            
  div(class="row row--heading")
    div(class="col")
      h4(class="heading sm up") Light Steel Gray
    
  div(class="page-grid row")
    div(class="page-grid__item")
      div(class="color-box bg--gray")
      div(class="color-box bg--gray--l1")
      div(class="color-box bg--gray--l2")
      div(class="color-box bg--gray--l3")
        
    div(class="page-grid__item flex-col")
      +code-example("scss")
        pre(class="language-scss")
          code(class="language-scss").
            .bg--gray {
              background-color: $gray;
            }
            
            .color--gray {
              color: $gray;
            }
            
  div(class="row row--heading")
    div(class="col")
      h4(class="heading sm up") Steel Gray
      
  div(class="page-grid row")
    div(class="page-grid__item")
      div(class="color-box bg--gray-light")
      div(class="color-box bg--gray-light--l1")
      div(class="color-box bg--gray-light--l2")
      div(class="color-box bg--gray-light--l3")
        
    div(class="page-grid__item flex-col")
      +code-example("scss")
        pre(class="language-scss")
          code(class="language-scss").
            .bg--gray-light {
              background-color: $gray-light;
            }
            
            .color--gray-light {
              color: $gray-light;
            }
            
  div(class="row row--heading")
    div(class="col")
      h4(class="heading sm up") Rich Black
      
  div(class="page-grid row")            
    div(class="page-grid__item")
      div(class="color-box bg--black-alt")
      div(class="color-box bg--black-alt--l1")
      div(class="color-box bg--black-alt--l2")
      div(class="color-box bg--black-alt--l3")
        
    div(class="page-grid__item flex-col")
      +code-example("scss")
        pre(class="language-scss")
          code(class="language-scss").
            .bg--black-alt {
              background-color: $black-alt;
            }
            
            .color--black-alt {
              color: $black-alt;
            }
            
  div(class="row row--heading")
    div(class="col")
      h4(class="heading sm up") Black
      
  div(class="page-grid row")
    div(class="page-grid__item")
      div(class="color-box bg--black")
      div(class="color-box bg--black")
      div(class="color-box bg--black")
      div(class="color-box bg--black")
        
    div(class="page-grid__item flex-col")
      +code-example("scss")
        pre(class="language-scss")
          code(class="language-scss").
            .bg--black {
              background-color: $black;
            }
            
            .color--black {
              color: $black;
            }

  div(class="row row--heading")
    div(class="col")
      h4(id="states", class="heading sm up") States, rollovers, and color grades
      p.
        Rollover states should be achieved by using SCSS's built in 
        #[span(class="inline-code") darken()] and #[span(class="inline-code") lighten()] functions.
