extends shared/page
include mixins/page-heading
include mixins/select

block content
  div(class="row")
    div(class="col")
      h4(class="heading sm up") Usage
      p.
        A blurb about form element usage...
      
  div(class="page-grid row")
    div(class="page-grid__item")
      form(name="form-genre", method="GET", action="/form-elements")
        +slct("Genre", "genre", data.categories)
      
    div(class="page-grid__item")
