extends shared/page

block content
  div(id="lcars")
    div(id="top", class="bar bg--rose")
      span(class="bar__end bg--rose")
      span(class="bar__info bg--black color--rose") 40272
      span(class="bar__blank")
      span(class="bar__end bg--orange")
    div(class="body")
      h1(class="color--blue") LCARS Database Search Results 02-0933
      
      div(class="row")
        span SRF-02-0933-3440:
        span Transfer of an officer to another starship
        
    div(id="bottom", class="bar bg--rose")
      span(class="bar__end bg--orange")
      span(class="bar__blank")
      span(class="bar__mid")
      span(class="bar__blank")
      span(class="bar__end bg--purple")
