extends shared/page
include ./mixins/code-example

block content
  div(class="row row--heading")
    div(class="col")
      h4(id="usage", class="heading sm up") Usage
      p.
        Typography styles should be composed of a combination of functional
        modifier classes, base element styles, and block classes. Many of the 
        things we wan to do with typography can be shared across different 
        types of tags. For instance #[span(class="inline-code") .up] and 
        #[span(class="inline-code") .nml] or 
        #[span(class="inline-code") .hvy] can be applied to headings, 
        paragraphs, and other elements. It's best to use these in
        conjunction with a base element style rather than to build a
        completely custom class with duplicate style declarations. This also
        makes specific elements more flexible on a per-page basis.
      
  div(class="row row--heading")
    div(class="col")
      h4(id="large-heading", class="heading sm up") Large Heading
      
  div(class="page-grid row")
    div(class="page-grid__item")
      h1(class="heading lg hvy") Horror Movie
      
    div(class="page-grid__item flex-col")
      +code-example("html")
        pre(class="language-html")
          code(class="language-html").
            &lt;h1 class="heading lg hvy"&gt;Large heading&lt;/h1&gt;
            
  div(class="row row--heading")
    div(class="col")
      h4(id="small-heading", class="heading sm up") Small Heading
  
  div(class="page-grid row")                    
    div(class="page-grid__item")
      h4(class="heading sm up") Creatures In The Night
      
    div(class="page-grid__item flex-col")
      +code-example("html")
        pre(class="language-html")
          code(class="language-html").
            &lt;h4 class="heading sm up"&gt;Small heading&lt;/h4&gt;
            
  div(class="row row--heading")
    div(class="col")
      h4(id="body-copy", class="heading sm up") Body Copy
                
  div(class="page-grid row")      
    div(class="page-grid__item")
      p A bloody, gruesome, raging good time.
      
    div(class="page-grid__item flex-col")
      +code-example("html")
        pre(class="language-html")
          code(class="language-html").
            &lt;p&gt;Body copy&lt;/p&gt;
              
  div(class="row row--heading")
    div(class="col")
      h4(id="small-text", class="heading sm up") Small Text
            
  div(class="page-grid row")    
    div(class="page-grid__item")
      p(class="sm") We are not responsible for crippling fear and anxiety.
      
    div(class="page-grid__item flex-col")
      +code-example("html")
        pre(class="language-html")
          code(class="language-html").
            &lt;p class="sm"&gt;Small text&lt;/p&gt;
