extends shared/page
include ./mixins/code-example

block content
  div(class="row")
    div(class="col col-2")
      h1(class="headline heavy") Large Headline
      
    div(class="col col-2")
      div(class="examples")
        +example("html")
          pre(class="language-html")
            code(class="language-html").
              &lt;h1 class="headline heavy"&gt;Headline&lt;/h1&gt;
              
  div(class="row")
    div(class="col col-2")
      h4(class="headline uppercase") Small Headline
      
    div(class="col col-2")
      div(class="examples")
        +example("html")
          pre(class="language-html")
            code(class="language-html").
              &lt;h4 class="headline uppercase"&gt;Headline&lt;/h4&gt;
              
  div(class="row")
    div(class="col col-2")
      p Body copy
      
    div(class="col col-2")
      div(class="examples")
        +example("html")
          pre(class="language-html")
            code(class="language-html").
              &lt;p&gt;Body copy&lt;/p&gt;
              
  div(class="row")
    div(class="col col-2")
      p(class="small") Small text
      
    div(class="col col-2")
      div(class="examples")
        +example("html")
          pre(class="language-html")
            code(class="language-html").
              &lt;p class="small"&gt;Small text&lt;/p&gt;
