.fieldset {
  padding: 0;
  margin: 0;
  border: none;
  background: none;

  legend {
    margin-bottom: 0.5em;
    display: block;
    font-size: em(14px);
    font-family: $font-roboto;
    font-weight: 900;
    color: lighten($gray-blue, 25%);
  }

  &__item {
    margin: 0.5em 0;
    display: flex;
    flex-flow: row;
    align-items: center;

    label {
      order: 1;
      margin-left: 10px;
      color: $white;
      font-size: em(14px);
    }

    input {
      order: 0;
    }
  }
}

label {
  &.label {
    margin-bottom: 0.5em;
    display: block;
    font-size: em(14px);
    font-family: $font-roboto;
    font-weight: 900;
    color: lighten($gray-blue, 25%);
  }
}
