label {
  &.input-label {
    margin-bottom: 0.5em;
    display: block;
    font-size: em(14px);
    font-family: $font-roboto;
    font-weight: 900;
    color: lighten($gray-blue, 25%);
  }
}

input {
  display: block;
  height: 38px;
  min-width: 300px;
  font-size: em(15px);
  color: $black;
  background-color: $white;
  border: 2px solid $white;
  border-radius: 2px;
  padding: 0 0.5em;
  transition: 200ms border ease-in-out;

  &:focus {
    outline: none;

    &::placeholder {
      color: $white;
    }
  }

  &.valid {
    border: 2px solid $green;
  }

  &.invalid {
    border: 2px solid $red;
  }

  @include bp-max($sm) {
    width: 100%;
  }
}

.input-message {
  font-size: em(12px);
  display: flex;
  color: $white;
  margin: 1em 0 0 0;

  &__icon {
    position: relative;
    top: -1px;
    margin-right: 0.5em;
    font-size: em(22px);
  }

  &.info {
    color: $white;
  }

  &.success {
    color: $green;
  }

  &.error {
    color: $red;
  }
}
