.play-circle {
  display: flex;
  height: 52px;
  width: 52px;
  align-items: center;
  justify-content: center;
  color: $white;
  background-color: $red;
  border-radius: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  transition: 200ms background-color ease-in-out;

  &__icon {
    font-size: em(44px);
  }

  &:hover {
    background-color: darken($red, 5%);
  }

  &:active {
    background-color: darken($red, 10%);
  }
}
