.poster-card {
  position: relative;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  cursor: pointer;

  &--portrait {
    width: 190px;
  }

  &--landscape {
    // width: 190px;
  }

  img {
    max-width: 100%;
  }

  &__overlay {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    text-align: center;
    background-color: rgba(0,0,0,0.75);
    transition: 100ms background-color ease-in-out;
    opacity: 0;
  }

  h4 {
    margin-bottom: 1.25em;
  }

  &__desc {
    position: relative;
    margin-top: 1.25em;
    max-height: 45px;
    font-size: em(12px);
    line-height: 1.25;
    text-align: center;
    overflow: hidden;
  }

  .btn--secondary {
    margin-top: 0.875em;
  }

  &:hover {
    .poster-card__overlay {
      opacity: 1;
    }

    img {
      filter: blur(2px);
    }
  }
}
