.slct {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  width: 230px;
  padding: 0;
  border: 1px solid $gray-blue;
  border-radius: 3px;
  cursor: pointer;
  transition: 200ms border ease-in-out;

  &__label {
    padding: 0 1em;
    font-size: em(12px);
    color: $gray-blue;
    cursor: pointer;
  }

  &__value-label {
    width: 100%;
    margin-right: auto;
    margin-top: -1px;
    appearance: none;
    background: transparent;
    border: none;
    font-size: em(12px);
    font-weight: 500;
    color: $gray-light;
  }

  &__arrow {
    padding: 0 0.5em;
    font-size: em(18px);
    color: $gray-light;
  }

  &__options {
    display: none;
    position: absolute;
    top: calc(100% - 1px);
    left: -1px;
    height: 196px;
    width: calc(100% + 2px);
    list-style: none;
    margin: 0;
    padding: 0;
    color: $gray-light;
    background-color: $black-alt;
    border: 1px solid $gray-blue;
    border-radius: 0 0 3px 3px;
    overflow: scroll;
    z-index: map-get($z-index, dropdown);

    li {
      padding: 1em;
      font-size: em(12px);
      font-weight: 500;
      border-bottom: 1px solid lighten($black-alt, 5%);

      &:hover {
        background-color: darken($black-alt, 1.25%);
      }

      &.active {
        background-color: darken($black-alt, 2.5%);
      }
    }
  }

  // States

  &.open &__options {
    display: block;
  }

  // Queries

  @include bp-max($sm) {
    width: 100%;
  }
}
