.slct {
  display: flex;
  align-items: center;
  height: 40px;
  width: 230px;
  padding: 0;
  border: 1px solid $gray-blue;
  border-radius: 3px;
  cursor: pointer;
  transition: 200ms border ease-in-out;

  &__label {
    padding: 0 1em;
    font-size: em(12px);
    color: $gray-blue;
  }

  &__arrow {
    padding: 0 0.5em;
    font-size: em(18px);
    color: $gray-light;
  }

  &__el {
    width: 100%;
    margin-right: auto;
    margin-top: -1px;
    appearance: none;
    background: transparent;
    border: none;
    font-size: em(12px);
    font-weight: 500;
    color: $gray-light;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__options {
    color: $gray-light;
  }

  // States

  &.on {
    border-color: lighten($gray-blue, 25%);
  }

  // Queries

  @include bp-max($sm) {
    width: 100%;
  }
}
