h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: $font-roboto;
  color: $white;
}

.heading {
  &.lg {
    font-size: em(60px);
    line-height: 1.25;
  }

  &.sm {
    font-size: em(16px);
    line-height: 1.25;
    letter-spacing: 1.5px;
  }
}

.up {
  text-transform: uppercase;
}

.caps {
  text-transform: capitalize;
}

.lt {
  font-weight: 300;
}

.nml {
  font-weight: 400;
}

.md {
  font-weight: 500;
}

.hvy {
  font-weight: 900;
}
