pre.prettyprint {
  display: block;
  border: 0;
  padding: 2em;
}

pre .nocode { background-color: none; }
pre .str { color: lighten(map-get($colors-brand, red), 25%) } /* string */
pre .kwd { color: lighten(map-get($colors-brand, grayBlue), 50%); font-weight: bold }
pre .com { color: map-get($colors-brand, grayLight) } /* comment */
pre .typ { color: map-get($colors-brand, red) } /* type */
pre .lit { color: lighten(map-get($colors-brand, red), 25%) } /* literal */
pre .pun { color: darken(map-get($colors-brand, grayLight), 10%) }    /* punctuation */
pre .pln { color: $color-white }    /* plaintext */
pre .tag { color: lighten(map-get($colors-brand, grayBlue), 50%); font-weight: bold } /* html/xml tag */
pre .atn { color: lighten(map-get($colors-brand, grayBlue), 50%); font-weight: bold } /* attribute name */
pre .atv { color: map-get($colors-brand, grayBlue) } /* attribute value */
pre .dec { color: map-get($colors-brand, grayLight) } /* decimal  */
