#site-container {
  height: 100%;
  width: 100%;
}

#main-container {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 64px auto;
  height: 100%;

  @include bp-max($md) {
    grid-template-columns: 1fr 1fr;
  }
}

#page-container {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 3 / 3;

  @include bp-max($md) {
    grid-area: 2 / 1 / 3 / 3;
  }
}
