#site-container {
  height: 100%;
}

#main-container {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 64px auto;
  height: 100%;
}

#header {
  display: flex;
  flex-flow: column;
  padding: 2rem;
  grid-area: 1 / 1 / 3 / 2;

  #logo {
    display: flex;
    align-items: center;

    a {
      img {
        max-width: 120px;
      }
    }

    @media screen and (max-width: $md) {
      flex: 1;
    }
  }

  #menu-icon {
    display: none;
    color: $color-white;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;

    .material-icons {
      font-size: em(28px);
    }

    &:hover {
      color: lighten(map-get($colors-brand, gray), 50%);
    }

    @media screen and (max-width: $md) {
      display: flex;
      flex: 1;
    }
  }

  @media screen and (max-width: $md) {
    flex-flow: row;
    grid-area: 1 / 1 / 2 / 3;
    padding: 0 2em;
  }
}

#page-container {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 3 / 3;

  @media screen and (max-width: $md) {
    grid-area: 2 / 1 / 3 / 3;
  }
}
