@font-face {
  font-family: "LCARS";
  src: url("/fonts/Swiss-911-Ultra-Compressed-BT.ttf") format("truetype");
}

@font-face {
  font-family: "LCARS-Condensed";
  src: url("/fonts/Swiss-911-Extra-Compressed-BT.ttf") format("truetype");
}
