* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: $font-roboto;
  height: 100%;
  width: 100%;
  background-color: darken(map-get($colors-brand, "black-alt"), 2.5%);

  &.menu-on {
    overflow: hidden;
  }
}

p {
  color: $white;
  line-height: 1.5;

  &.small {
    font-size: em(12px);
  }
}

a {
  color: $white;
  text-transform: none;
  text-decoration: none;
  transition: 200ms color ease-in-out;

  &:hover {
    color: map-get($colors-brand, "red");
  }
}
