* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: $font-roboto;
  height: 100%;
  background-color: darken(map-get($colors-brand, grayBlue), 5%);
}

p {
  color: map-get($colors-brand, grayLight);
  font-weight: 300;
}

a {
  color: $color-white;
  text-transform: none;
  text-decoration: none;
  transition: 200ms color ease-in-out;

  &:hover {
    color: map-get($colors-brand, red);
  }
}
