@each $name, $value in $colors-lcars {
  .color--#{$name} {
    color: $value;
  }

  .bg--#{$name} {
    background-color: $value;
  }

  @for $i from 1 to 4 {
    $percent: 10 * $i;

    .color--#{$name}--d#{$i} {
      color: darken($value, $percent);
    }

    .color--#{$name}--l#{$i} {
      color: lighten($value, $percent);
    }

    .bg--#{$name}--d#{$i} {
      background-color: darken($value, $percent);
    }

    .bg--#{$name}--l#{$i} {
      background-color: lighten($value, $percent);
    }
  }
}

// Flex

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

// Elements

.full-w {
  width: 100%;
}

.full-h {
  height: 100%;
}

// Margins & Paddings

.mb1 {
  margin-bottom: 1em;
}

// Overflow

.oflow-visible {
  white-space: initial;
}

.oflow-clip {
  text-overflow: clip;
}

.oflow-ellipsis {
  text-overflow: ellipsis;
}
