h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: $font-roboto;
  color: $color-white;

  &.uppercase {
    text-transform: uppercase;
  }

  &.normal {
    font-weight: 400;
  }
}

.page-title {
  padding: 4.5em 2em 2em 2em;
  background-color: darken(map-get($colors-brand, grayBlue), 2.5%);

  h1 {
    margin-bottom: 0;
    padding-bottom: 1em;
    border-bottom: 3px solid #ba1214;
  }

  @media screen and (max-width: $md) {
    padding: 2em;
  }
}
