h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: $font-roboto;
  color: $white;

  &.uppercase {
    text-transform: uppercase;
  }

  &.normal {
    font-weight: 400;
  }

  &.heavy {
    font-weight: 900;
  }

  &.light {
    font-weight: 300;
  }
}

h1 {
  &.headline {
    font-size: em(60px);
    line-height: 1.25;
  }
}

h4 {
  &.headline {
    font-size: em(16px);
    line-height: 1.25;
    letter-spacing: 1.5px;
  }
}
