/**
 *
 * Variables
 *
 */

// Fonts

$fontRoboto: "Roboto", Helvetica, sans-serif;
$fontRobotoCondensed: "Roboto Condensed", Helvetica, sans-serif;

// Colors

$colorsBrand: (
  red: #c80000,
  black: #000000,
  blackAlt: #161f22,
  gray: #7f959c,
  grayLight: #c5d1d3
);

$black: #000000;
$white: #FFFFFF;
$red:       map-get($colorsBrand, red);
$black:     map-get($colorsBrand, black);
$blackAlt:  map-get($colorsBrand, blackAlt);
$gray:      map-get($colorsBrand, gray);
$grayLight: map-get($colorsBrand, grayLight);

// Breakpoints

$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1220px;
$xxl: 1440px;
