/**
 *
 * Variables
 *
 */

// Fonts

$font-roboto: "Roboto", Helvetica, sans-serif;
$font-roboto-condensed: "Roboto Condensed", Helvetica, sans-serif;

// Colors

$black: #000000;
$white: #FFFFFF;

$colors-brand: (
  red: #c80000,
  black: #000000,
  black-alt: #161f22,
  gray: #7f959c,
  gray-light: #c5d1d3
);

$colors-gray: (
  100: #111111,
  200: #222222,
  300: #333333,
  400: #444444,
  500: #555555,
  600: #666666,
  700: #777777,
  800: #888888,
  900: #999999
);

// Elements

$header-height: 60px;
$container-width: 1080px;

// Breakpoints

$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1220px;
$xxl: 1440px;
