/**
 *
 * Variables
 *
 */

// Fonts

$font-roboto: "Roboto", Helvetica, sans-serif;
$font-roboto-condensed: "Roboto Condensed", Helvetica, sans-serif;

// Colors

$colors-brand: (
  red: #BA1214,
  black: #071108,
  gray: #333232,
  grayBlue: #161F22,
  grayLight: #BA1214
);

$color-black: #000000;
$color-white: #FFFFFF;

$colors-gray: (
  100: #111111,
  200: #222222,
  300: #333333,
  400: #444444,
  500: #555555,
  600: #666666,
  700: #777777,
  800: #888888,
  900: #999999
);

// Elements

$header-height: 60px;
$container-width: 1080px;

// Breakpoints

$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 1200px;
$xl: 1440px;
$xxl: 1660px;
